<div class="navigator w-100">
  <div class="dropdown">
    <button
      class="btn dropdown-toggle btn-departments"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      data-bs-auto-close="outside"
    >
      DEPARTAMENTOS
    </button>
    <ul class="dropdown-menu">
      <li class="dropend">
        <button
          class="dropdown-item dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Roupas
        </button>
        <ul class="dropdown-menu">
          <li><h6 class="dropdown-header">Roupas</h6></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Masculinas</a></li>
          <li><a class="dropdown-item" href="#">Femininas</a></li>
        </ul>
      </li>
      <li><a class="dropdown-item" href="#">Eletrônicos</a></li>
      <li><a class="dropdown-item" href="#">Jóias</a></li>
    </ul>
  </div>
</div>
